<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Human Face</title>
    <link rel="icon" href="data:,">
    <link href="css/style.css" rel="stylesheet">
    <script defer src="js/main.js"></script>
  </head>
  <body>
    <div class="app">
      <header class="site-header"></header>
      <main class="site-main"></main>
      <footer class="site-footer">
        <span
          >Copyright &copy;. All rights reserved. Design from
          <a href="http://dcicblog.umd.edu/human-face-of-big-data/" class="bft"
            >Human-Face Team</a
          ></span
        >
      </footer>
    </div>
  </body>
</html>
